@model Student;

@{
    ViewData["Title"] = "Add Student";
}

<!DOCTYPE html>

<h3>Add student</h3>

<form asp-action="AddStudent">
    <div class="mb-3">
        <label asp-for="Id" class="form-label">Id</label>
        <input asp-for="Id" class="form-control"/>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label asp-for="FirstName" class="form-label">First Name</label>
            <input asp-for="FirstName" type="text" class="form-control">
        </div>
        <div class="col">
            <label asp-for="LastName" class="form-label">Last Name</label>
            <input asp-for="LastName" type="text" class="form-control">
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" type="email" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Course" class="form-label">Course</label>
        <select asp-for="Course" class="form-select" asp-items="Html.GetEnumSelectList<Course>()" aria-label="Course"></select>
    </div>
    <div class="mb-3">
        <label asp-for="GPA" class="form-label">GPA</label>
        <input asp-for="GPA" type="number" class="form-control" max="5">
    </div>
    <div class="mb-3">
        <label asp-for="AdmissionDate" class="form-label">Enrollment Date</label>
        <input asp-for="AdmissionDate" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>